<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <a href="/">Home</a> <a href="/listAllTasks">List All Tasks</a>
        <form action="addNewTask" method="POST">
            <div class="blank">
                Task Name
                <input type="text" name="name"/></br>
                Task Due
                <input type="text" name="dueDate"></br>
                Task Desc
                <input type="text" name="description"></br></br>
                <button type= "submit">Submit</button>
            </div>
        </form>
    </body>
</html>