<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <a href="/">Home</a> <a href="/addNewTask">Add New Task</a>
        </br>
        <h3>
            <table>
                <tr>
                    <td>Name</td>
                    <td>Due Date</td>
                    <td>Description</td>
                   
                </tr>
                <% for (var i =0; i< taskDb.length;i++){ %>
                    <tr>
                        <td>
                            <%= taskDb[i].name %>
                        </td>
                        <td>
                            <%= taskDb[i].dueDate %>
                        </td>
                        <td>
                            <%= taskDb[i].description %>
                        </td>
                    </tr>
                    <% }%>
        </h3>
    </body>
</html>